@import '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css';
@import 'https://fonts.googleapis.com/css?family=Oswald';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: #eee;
    color: #444;
}

.ticket {
    background: #fff;
    -webkit-box-shadow: inset 0 0 0 0.25rem #444;
    left: calc(50% - 15rem);
    height: 12.5rem;
    overflow: hidden;
    position: absolute;
    top: calc(50% - 6.25rem);
    width: 30rem;
}

.ticket-inner {
    box-shadow: 0 0 0 0.5rem #444;
    border-radius: 0.5rem;
    height: 8.5rem;
    margin: 2rem 2.5rem;
    position: relative;
    width: 25rem;
}

.ticket-headline {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    padding-bottom: 0;
    text-align: center;
}

.ticket-headline svg {
    display: inline-block;
    height: 2rem;
    stroke: #444;
    transform: translateY(0.25rem);
    width: 2rem;
}

.ticket-headline .pro {
    background: linear-gradient(135deg, #dbdc6d 0%, #9fa12c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ticket-star {
    background: linear-gradient(to right, transparent 25%, black 50%, transparent 75%);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    height: 1rem;
    width: 100%;
    text-align: center;
}

.ticket-star .fa-star-o {
    background: white;
    padding: 0 0.25rem;
}

.ticket-admit {
    font-family: 'Oswald';
    font-size: 2rem;
    text-align: center;
}

.ticket-admit .char:nth-of-type(1) {
    text-shadow: 1.5px 2px 0 #ccc;
}

.ticket-admit .char:nth-of-type(2) {
    text-shadow: 1px 2px 0 #ccc;
}

.ticket-admit .char:nth-of-type(3) {
    text-shadow: 0.5px 2px 0 #ccc;
}

.ticket-admit .char:nth-of-type(4) {
    text-shadow: 0px 2px 0 #ccc;
}

.ticket-admit .char:nth-of-type(5) {
    text-shadow: -0.5px 2px 0 #ccc;
}

.ticket-admit .char:nth-of-type(6) {
    text-shadow: -1px 2px 0 #ccc;
}

.ticket-admit .char:nth-of-type(7) {
    text-shadow: -1.5px 2px 0 #ccc;
}

.ticket-admit .char:nth-of-type(8) {
    text-shadow: -2px 2px 0 #ccc;
}

.ticket-admit .char:nth-of-type(9) {
    text-shadow: -2.5px 2px 0 #ccc;
}

.ticket-numbers {
    border-top: 0.25rem solid #444;
    color: #5e5e5e;
    font-size: 1.25rem;
    font-weight: bold;
    left: 0;
    letter-spacing: 0.25rem;
    height: 5rem;
    padding: 1.25rem;
    position: absolute;
    text-align: center;
    top: 2.5rem;
    transform: rotate(90deg) translate(-0.75rem, 3rem);
    width: 9rem;
}

.ticket-numbers.second {
    transform: rotate(-90deg) translate(0.75rem, 19rem);
}

[class*="ticket-edge"] {
    background: #eee;
    border: 0.25rem solid #444;
    border-radius: 50%;
    height: 3rem;
    position: absolute;
    width: 3rem;
}

[class*="top"] {
    top: -1rem;
}

[class*="bottom"] {
    top: calc(11.5rem);
}

[class*=left] {
    left: -1rem;
}

[class*=right] {
    right: -1rem;
}

.ticket-punches,
.ticket-punches::before,
.ticket-punches-right::before,
.ticket-punches::after,
.ticket-punches-right::after,
.ticket-punches-right {
    background: #eee;
    border: 0.25rem solid #444;
    border-radius: 50%;
    height: 2rem;
    left: -1rem;
    position: absolute;
    top: 6rem;
    width: 2rem;
}

.ticket-punches::before,
.ticket-punches-right::before,
.ticket-punches::after,
.ticket-punches-right::after {
    content: '';
    display: block;
    left: -0.25rem;
    top: 0;
}

.ticket-punches::before,
.ticket-punches-right::before {
    top: -2.25rem;
}

.ticket-punches::after,
.ticket-punches-right::after {
    top: 1.75rem;
}

.ticket-punches-right {
    left: 29rem;
}